body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color:#F5FAFA;
}

button {
	color: blue; 
	background-color: white;
	padding-left: 2%;
	border: none;
	background: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 80%;
}

article.title {
	display: block;
	margin: 2%;
	padding: 1%;
}

h1 {
	text-align:center;
	color: #2c2c2c;
	font-weight: bold;
	font-size: 140%;
}

p.proj_summery {
	font-size:80%; 
	text-align:center
}

section {
	display: block;
	font-size: 100%;
	margin: 2%;
	padding: 1%;
	word-spacing: 3px;
	line-height: 1.5;
}

p.keywords {
	display: block;
	font-size: 90%;
	padding-left: 1%;
	line-height: 1.8;
}

span.kw {
	border-radius: 5px;
	font-size: 90%;
	background-color: #CFCFCF;
	padding: 2px 5px;
}

h2 {
	text-align:left;
	color: #2c2c2c;
	font-weight: bold;
	font-size: 120%;
}

h3 {
	text-align:left;
	color: #2c2c2c;
	font-weight: bold;
	font-size: 100%;
	
}

p.normal_text {
	text-align:left;
	color: #2c2c2c;
	font-size: 100%;
	
}

code.code_kw {
	display: inline;
	border-radius: 5px;
	font-size: 90%;
	background-color: #CFCFCF;
	color: black;
	padding: 2px 5px;
}

pre.code_block {
	display: block;
	border: 2px solid black;
	border-radius: 15px;
	background-color: #2c2c2c;
	margin: 2%;
	padding: 1%;
	max-height: 300px;
	overflow: auto;
	-moz-tab-size:4;
	-o-tab-size:4;
	tab-size:4;
}

code {
	display: block;
	font-family: monospace, monospace;
	font-size: 90%;
	text-align: left;
	color: #fff;
}

pre > code {
  display: block;
  padding: 5px;
  word-wrap: normal;
}

figure {
	display: block;
	margin: 2%;
	padding: 1%;
	font-size:80%; 
	text-align:center;
}

figure.singleImg {
	display: block;
	text-align:center;
	margin: auto;
	padding: 1%;
	width: 70%;
	font-size:80%
}

figcaption {
	padding: 2%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

div.youtubeVideo {
	display: block;
	width: 100%;
	margin: 0 auto;
	float: center;
    text-align: center;
}

iframe {
	display: block;
	--container-width: 80vw;
	--ratio: calc(16 / 9); /* 1.77 */
	width: 80%    !important;
	height: calc(var(--container-width) / var(--ratio));
	margin: 0 auto;
	float: center;
    text-align: center;
}

video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%    !important;
    height: auto    !important;
	object-fit: cover;
}

hr {
  border: 1px solid black;
}

footer {
  text-align: center;
  padding: 3px;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 100%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
  body {
    font-size: 110%;
	margin-left: 100px;
	margin-right: 100px;
  }
  
  iframe {
	display: block;
	--container-width: 70vw;
	--ratio: calc(16 / 8); /* 1.77 */
	width: 80%    !important;
	height: calc(var(--container-width) / var(--ratio));
	margin: 0 auto;
	float: center;
    text-align: center;
	}
}
@media only screen and (min-width: 1100px){
  body {
    font-size: 110%;
	margin-left: 200px;
	margin-right: 200px;
  }
  
  iframe {
	display: block;
	--container-width: 70vw;
	--ratio: calc(16 / 7); /* 1.77 */
	width: 80%    !important;
	height: calc(var(--container-width) / var(--ratio));
	margin: 0 auto;
	float: center;
    text-align: center;
	}
}
